attrs==23.2.0
certifi==2024.6.2
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
cryptography==42.0.8
Deprecated==1.2.14
ecdsa==0.14.1
exceptiongroup==1.2.1
idna==3.7
iniconfig==2.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
packaging==24.1
pluggy==1.5.0
pyasn1==0.5.0
pycparser==2.22
PyGithub==2.3.0
PyJWT==2.8.0
PyNaCl==1.5.0
pyrsistent==0.19.3
python-jose==3.2.0
referencing==0.35.1
requests==2.32.3
rpds-py==0.18.1
rsa==4.9
six==1.16.0
tomli==2.0.1
typing_extensions==4.12.2
urllib3==2.2.1
wrapt==1.16.0
