
; This file is for unifying the coding style for different editors and IDEs.
; More information at http://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[Makefile]
indent_style = tab
trim_trailing_whitespace = false

[*.mk]
indent_style = tab
trim_trailing_whitespace = false

[*.{hcl,html,json,sh,tf,yaml,yml}]
indent_style = space
indent_size = 2

[*.{go,js,jsx,mjs,ts,tsx}]
indent_style = tab

; Ejected configuration from Create React App.
[ui/config/**/*.js]
indent_style = space
indent_size = 2

[*.sh]
switch_case_indent = true

; Should match .editorignore
[**/.temp/**]
ignore = true
[**/.venv/**]
ignore = true
[**/node_modules/**]
ignore = true
[backend/engine/tests/data/test_shell_check/issue_dir/test_shell_check.sh]
ignore = true
