[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]
boto3 = "~=1.34"
cryptography = "~=41.0"
cwe = "~=1.6"
django = "~=3.2"
graphql-query = "~=1.3"
packaging = "~=21.3"
PyGithub = "~=2.1"
pyjwt = "~=2.8"
requests = "~=2.31"
simplejson = "~=3.19"
sqlparse = "~=0.5"

[dev-packages]
aiohttp = "~=3.9"
autopep8 = "~=2.1"
awscli = "*"  # Only used in scripts.
black = "==22.3.0"  # Pending upgrade later.
cfn-lint = "==0.53.0"
checkov = "==2.0.1065"
flake8 = "~=7.0"
gitpython = "~=3.1"
isort = "~=5.12"
mock = "~=4.0"
moto = "==1.3.14"  # Pending upgrade later.
psycopg2-binary = "~=2.9"
pylint = "~=3.0"
pytest = "~=8.2"
pytest-cache = "~=1.0"
pytest-cov = "~=2.10"
pytest-logging = "==2015.11.4"
pytest-subtests = "~=0.3"
python-dotenv = "~=1.0"

[pipenv]
allow_prereleases = true
