@scope_1:registry=https://reg_1
//reg_1:_password=pass_1
//reg_1:username=user_1
//reg_1:email=email_1
//reg_1:always-auth=true
@scope_2:registry=https://reg_2
//reg_2:_password=pass_2
//reg_2:username=user_2
//reg_2:email=email_2
//reg_2:always-auth=true
