[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "~=44.0" # match version constraint in top level
jsonschema = "~=4.22"
pygithub = "~=2.5"

[requires]
python_version = "3.12"

[dev-packages]
isort = "~=5.13"
pytest = "~=8.3"
ruff = "~=0.8.1"
