[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonschema = "~=4.22"
pygithub = "~=2.1"

[requires]
python_version = "3.9"

[dev-packages]
isort = "~=5.12"
pytest = "~=8.2"
ruff = "~=0.5.5"
