name: Orchestrator Unit Tests

on:
  pull_request:
    paths:
      - "orchestrator/**"
      - ".github/workflows/test_orchestrator.yml"

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # actions/checkout@v6.0.2
      - name: setup python environment
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # actions/setup-python@v6.2.0
        with:
          python-version: "3.12"
          architecture: x64
          cache: pipenv
          cache-dependency-path: orchestrator/Pipfile.lock
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # hashicorp/setup-terraform@v3.1.2
      - name: Install Test Dependencies
        run: |
          pip install --upgrade pipenv wheel
      - name: Install shfmt
        run: |
          curl -sSL https://github.com/mvdan/sh/releases/download/v3.12.0/shfmt_v3.12.0_linux_amd64 -o /usr/local/bin/shfmt
          chmod +x /usr/local/bin/shfmt
      - name: Run code style tests
        run: make -C orchestrator style-test ENV=example
      - name: Run orchestrator tests
        run: |
          make -C orchestrator unit-test ENV=example PYTEST_EXTRA_ARGS='--cov-report=term-missing'
