name: Backend Unit Tests

on:
  pull_request:
    paths:
      - "backend/**"
      - ".github/workflows/test_backend.yml"

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # actions/checkout@v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # actions/setup-python@v6.1.0
        with:
          python-version: "3.12"
          cache: pipenv
          cache-dependency-path: backend/Pipfile.lock
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # hashicorp/setup-terraform@v3.1.2
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # actions/cache@v4.3.0
        with:
          # Tool versions are defined in the Makefile.
          key: backend-unit-test-tools-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('backend/Makefile') }}
          path: backend/.temp
      - name: Install Test Dependencies
        run: |
          pip install --upgrade pipenv wheel
      - name: Install shfmt
        run: |
          curl -sSL https://github.com/mvdan/sh/releases/download/v3.12.0/shfmt_v3.12.0_linux_amd64 -o /usr/local/bin/shfmt
          chmod +x /usr/local/bin/shfmt
      - name: Run code style tests
        run: make -C backend style-test ENV=example
      - name: Run backend tests
        # Parallelize tests using "worksteal" mode to better distribute our
        # expensive tests.
        run: make -C backend unit-test ENV=example PYTEST_EXTRA_ARGS='-n auto --dist worksteal --cov-report=term-missing'
